{
  "token": "NTYxODM0NjExMTU2NTgyNDIw.XKtctw.7IgdZlwU851Jjg5MWuhQJJrLsYE",
  "owners": [
    358661627459141642
  ],
  "join_message": "I has joined to do stuff 🌟",
  "prefix": [
    "!"
  ],
  "playing": "games!"
}
